<div class="comment-main-level" id="<%= dom_id(comment) %>">
	<div class="comment-box">
		<div class="comment-head">
			<div class="comment-avatar"><%= gravatar_for comment.user %></div>
			<h6 class="comment-name by-author"><%= link_to comment.user.name, user_path(comment.user.id) %></h6>
			<span><%= time_ago_in_words(comment.created_at) %> ago</span>
			<% if logged_in? %>
			<i class="fa fa-reply"></i>
			<%= link_to "Reply", new_user_post_comment_path(current_user, @post, comment, parent_id: comment.id), remote: true %>
			<i class="fa fa-heart"></i>
			<% end %>
		</div>
		<div class="comment-content">
			<%= comment.content %>
		</div>
		<% if logged_in? %>
		<div class="comment-reply">
			<p><%= comment.id %></p>
			<%= render 'comments/reply_form', comment: comment, parent_id: comment.id %>
		</div>
		<% end %>
	</div>
</div>