<%= form_for([current_user, post, post.comments.build], remote: true) do |f| %>
    <%= f.hidden_field :parent_id, value: parent_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: post.id %>

    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', id: "comment_content_#{parent_id}" %>
    </div>

    <%= f.submit "Leave a comment", class: "btn btn-primary" %>
<% end %>