<% provide(:page_heading, "Small Blog") %>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% @posts.each do |post| %>
            <div class="post-preview">
                <%= link_to user_post_path(post.user.id, post.id) do %>
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= short_description(post, 150) %>
                    </h3>
                <% end %>
                <p class="post-meta">Posted by <%= link_to post.user.name, user_path(post.user.id) %> on <%= time_tag post.created_at %></p>
            </div>
            <hr>
        <% end %>
        
        <!-- Pager -->
        <%= will_paginate @posts, page_links: false, previous_label: '&larr; Newer Posts', next_label: 'Older Posts &rarr;' %>
    </div>
</div>