<h1 class="text-center"><%= @post.title %></h1>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= @post.content %>
    </div>
</div>



<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    
    <h2>Comments: </h2>
    <% if logged_in? %>
        <%= form_for([current_user, @post, @post.comments.build], remote: true) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control' %>
            </div>
    
            <%= f.submit "Leave a comment", class: "btn btn-primary" %>
        <% end %>
    <% else %>
        <%= link_to 'Log in to leave a comment', login_path, class: 'btn btn-default center-block' %>
    <% end %>
    
	<div class="comments-container">
	    <ul id="comments-list" class="comments-list">
			<%= render @comments %>
        </ul>
	</div>
</div>